html{
    scroll-behavior: smooth;

}

body{
    font-family: 'Arvo', serif !important;
}

.navbar{
    background-color: #01c5c4;
}

.nav-item{
    margin: 6px;
    margin-left: 31px;
    font-size: 20px;
}

.nav-link{
    color: white;
}

.navbar-brand img{
    display: block;
    width: 60%;
}

.carousel-arrow{
    color: black;
    font-size: 60px;
}

.carousel-img{
    width: 60% !important;
    display: block;
    margin: auto;
}


.terry-heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ed6f60;
    font-weight: bolder;
}

.terry-paragraph{
    padding-left: 110px;
    padding-right: 60px;
    color: #ed6f60;
    font-weight: 200;
    line-height: 1.75;
}

.terry-paragraph2{
    margin-top: 90px;
    padding-left: 110px;
    padding-right: 60px;
    padding-top: 50px;
    color: #ed6f60;
    font-weight: 200;
    line-height: 1.8;
}

.terry-running2{
    width: 70%;
    display: block;
    margin:auto;
    margin-top: 65px;
    padding-bottom: 80px;
}

.double{
    background-color: #fff9d6;
    font-size: 20px;
    padding-top: 40px;
}

.terry-running{
    width: 45%;
    display: block;
    margin:auto;
    margin-top: 65px;

}


.features{
    background-color: #b8de6f;
    text-align: center;
    padding: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 22px;
    margin-right: 16px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

#three-column{
    background-color: #f1e189;
    padding-top: 60px;
    padding-bottom: 50px;
}

.column-logo img{
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 20px;

}

.features-heading{
    text-align: center;
}

.features--highlighted{
    background: #19b84c;
    color: white;
    font-weight: 1000 !important;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
}

.originaltwo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.terry-shoes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#video{
    display: block;
    margin-top: 100px;
    margin-left: 80px;
}

.wireframe img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}